@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');

// Sora
@font-face {
  font-family: 'Sora';
  src: url('../assets/fonts/Sora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sora';
  src: url('../assets/fonts/Sora-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Good Times
@font-face {
  font-family: 'Good Times';
  src: url('../assets/fonts/Good Times Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Good Times';
  src: url('../assets/fonts/Good Times Light Italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Good Times';
  src: url('../assets/fonts/Good Times Book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Good Times';
  src: url('../assets/fonts/Good Times Book Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Good Times';
  src: url('../assets/fonts/Good Times Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Good Times';
  src: url('../assets/fonts/Good Times Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Good Times';
  src: url('../assets/fonts/Good Times Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Good Times';
  src: url('../assets/fonts/Good Times Bold Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

// Fraunces
@font-face {
  font-family: 'Fraunces 9pt';
  src: url('../assets/fonts/Fraunces_9pt-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fraunces 144pt';
  src: url('../assets/fonts/Fraunces_144pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}