$fontDisplayCursive: 'Lostar', cursive;
$fontDisplay: 'Good Times', sans-serif;
$fontHeading: 'Sora', sans-serif;
$fontFamily: 'Poppins', sans-serif;
$fontDiaryLarge: 'Fraunces 144pt', serif;
$fontDiarySmall: 'Fraunces 9pt', serif;
$fontHandwriting: 'Caveat', cursive;

$surface: #121315;
$stroke: #353A44;

$neon1: #4800ff;
$neon2: #f700ff;

$neon3: #00ff7b;
$neon4: #00b7ff;

// Phone
$scale: 4;