@import './fonts';

body, html {
  background: black;
  color: white;
}

// prevent user selection
:not(input, textarea, select, button, [contenteditable]) {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
   -khtml-user-select: none; /* Konqueror */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; 
}

.touch-action-none {
  touch-action: none;
}

// /* prevent pull-to-refresh for Safari 16+ */
@media screen and (pointer: coarse) and (not (display-mode: standalone)) {
  @supports (-webkit-backdrop-filter: blur(1px)) and (overscroll-behavior-y: none) {
    html:not(.admin) {
      min-height: 100%;
      overscroll-behavior-y: none;
    }
  }
}

// /* prevent pull-to-refresh for Safari 9~15 */
@media screen and (pointer: coarse) and (not (display-mode: standalone)) {
  @supports (-webkit-backdrop-filter: blur(1px)) and (not (overscroll-behavior-y: none))  {
    html:not(.admin) {
      height: 100%;
      overflow: hidden;
    }
    body:not(.admin) {
      margin: 0px;
      max-height: 100%; /* or `height: calc(100% - 16px);` if body has default margin */
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
    /* in this case to disable pinch-zoom, set `touch-action: pan-x pan-y;` on `body` instead of `html` */
  }
}

/* prevent pull-to-refresh for Chrome 63+ */
body:not(.admin) {
  overscroll-behavior-y: none;
  overflow: hidden;
}

/* prevent pinch-zoom for Chrome 36+, Safari 13+ */
* {
  // overflow: hidden;
  touch-action: pan-x pan-y;
  // min-height: 100%; /* prevent pinch-zoom at page bottom */
}

:not(.admin) #app {
  position: fixed;
  overflow: hidden;
  inset: 0;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.app-layout {
  height: 100%;
  font-family: 'SF Pro Text', sans-serif;

  & > .v-toolbar {
    z-index: 1;
    position: absolute;
    top: 0;
    padding-top: 4rem;
  }

  & > .v-main {
    position: absolute;
    inset: 0;
    padding-top: 8rem;
    height: 100%;
    overflow: auto;
  }
}

.no-transition {
  .v-slider-track__background, .v-slider-track__fill, .v-slider-thumb {
    transition: none;
  }
}